<?xml version="1.0" encoding="gb2312"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en-EU" lang="en-EU">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
	<title>Openology Admin</title>
	<link href="css/default.css" rel="stylesheet" type="text/css" title="Default" />
</head>
<body>

<div id="header">
Openology	
</div>

<div class="clear">&nbsp;</div>

{include file="$maincontent"} 
    
<div id="footer">
<span class="nobr">&copy;2004 <a href="http://www.openology.org">Openology</a></span>
</div>    

<div id="statusbar"></div>

</body>
</html>    