<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en-EU" lang="en-EU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
    <title>Demo Login</title>
    <link href="{$config_theme_dir}/css/login.css" rel="stylesheet" type="text/css" title="Default" />

{$form.javascript}
</head>
<body>

<div id="loginbox">
    <div id="logo">
    <img alt="" src="{$config_theme_dir}/images/logo.png" height="38" width="230" title="openology.org" />    
    </div>
    <div id="loginbody">

    <form {$form.attributes}>
    <table border="0">
      <tr> 
        <td colspan="2" id="loginheader">Please input your Email</td>
      </tr>
      <tr> 
        <td colspan="2" id="loginerror"></td>
      </tr>
      <tr> 
        <td width="5%" align="right"><label for="username">{$form.email.label}</label>:</td>
        <td width="15%">{$form.email.html}</td>
      </tr>      
      <tr> 
        <td colspan="2" id="logininfotext"></td>
      </tr>
      <tr> 
        <td colspan="2"> 
          <div align="right">{$form.submitbutton.html}&nbsp;{$form.resetbutton.html}</div>
        </td>
      </tr>      
    </table>
    {$form.op.html}    
    </form>

    </div>
</div>

<div id="footer"> <span class="nobr">&copy;2005 openology.org</span></div>    
</body>
</html>    
