<h1>{$page_title}</h1>

<div id="mainbody">
<form action="" method="post">

<div>
    <div style="width: 45%; float: left; text-align: right;">
    <div><a href="index.php?op=grouplist">Group Admin</a></div>
                
    </div>
    
    <div style="width: 45%; float: right; text-align: left;">
    <div><a href="index.php?op=userlist">User Admin</a></div>
                
    </div>
</div>

<div class="clear"></div>


</form>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</div>    