<?xml version="1.0" encoding="ISO-8859-1" ?>
<OOO-config>
    <!-- ========== Action Mapping Definitions ============================== -->
    <action-mappings>
        <action op="default" model="index.php" view="template.html"/>
        <action op="login" model="login.php" view="template.html"/>        
        <action op="error" model="error.php" view="template.html"/>
    </action-mappings>
</OOO-config>
